<section class="container">
  <div class="row">
    <div class="col-md-3">
      <%= link_to 'New Blog', new_blog_path, class: "btn btn-primary btn-lg btn-block" %>
    </div>
    <div class="col-md-9">
      <div class="box content">
        <div class="notification is-info">
          <p><%= notice %></p>
        </div>
        <h1>ブログ一覧</h1>
        <div id="sortable">
          <%= render @blogs %>
        </div>

      </div>
    </div>
  </div>
</section>
